
{% extends 'base.html' %}

{% block meta %}
<title>Create Task</title>
{% endblock meta %}

{% block content %}  

{% comment %}
<form method="POST" action="">

    {% csrf_token %}

    <table>
        <tr>
            <td>To do: </td>
            <td><input type="text" name="todo" placeholder="Title." class="form-control"></td>
        </tr>
                
        <tr>
            <td>Description: </td>
            <td><input type="text" name="description" placeholder="Description." class="form-control"></td>
        </tr>

        <tr>
            <td></td>
            <td><input class="btn login_btn" type="submit" value="Submit" href="{% url 'todolist:show' %}"></td>
        </tr>
    </table>
        
</form>
{% endcomment %}

<div class = "login bg-dark justify-content-center" style="height: 100vh; margin: 0;">
    <br></br>
    <div class="mx-3 d-flex flex-row flex-wrap justify-content-center">
    <div class="card mx-auto" style="width: 22rem;">
        <div class="card-body mx-auto">
          <h1 class="card-title"><strong>CREATE TASK</strong></h1>
        </div>
        <div class="card-body">
            <form method="POST" action="">
                {% csrf_token %}
    
                        <a class="text-decoration-none text-dark">Title</a>
                        <input type="text" name="todo" placeholder="Title." class="form-control">
                    
                            
                        <a class="text-decoration-none text-dark">Description</a>
                        <input type="text" name="description" placeholder="Description." class="form-control">
    
                        <div class="div d-flex justify-content-center mt-3">
                        <input class="btn btn-success" type="submit" value="Create">
                        </div>
                
            </form>
        </div>
    
      </div>
    </div>
    </div>



{% endblock content %}
