{% extends 'base.html' %}

{% block meta %}
<title>Registrasi Akun</title>
{% endblock meta %}

{% block content %}  

{% comment %}

<div class = "login">
    
    <h1>Formulir Registrasi</h1>  

        <form method="POST">  
            {% csrf_token %}  
            <table>  
                {{ form.as_table }}  
                <tr>  
                    <td></td>
                    <td><input type="submit" name="submit" value="Daftar"/></td>  
                </tr>  
            </table>  
        </form>

    {% if messages %}  
        <ul>   
            {% for message in messages %}  
                <li>{{ message }}</li>  
                {% endfor %}  
        </ul>   
    {% endif %}

</div>  

{% endcomment %}


<div class = "login bg-dark justify-content-center" style="height: 100vh; margin: 0;">
    <br></br>
    <div class="mx-3 d-flex flex-row flex-wrap justify-content-center">
    <div class="card mx-auto" style="width: 50rem;">
        <div class="card-body mx-auto">
          <h1 class="card-title"><strong>REGISTER</strong></h1>
        </div>

        <div class="card-body">
            <form method="POST">  
                {% csrf_token %}  
                <table>  
                    {{ form.as_table }}  
                    
                </table>
                <div class="div d-flex justify-content-center mt-3">
                    <input class="btn btn-success" type="submit" name="submit" value="Daftar"/>
                    </div>   
            </form>
        </div>
    
        {% if messages %}
        <div class="card-text mx-auto">
            {% for message in messages %}
            <div class="alert alert-danger" role="alert">
                {{message}}
              </div>
            {% endfor %}
        </div>
        {% endif %}

      </div>
    </div>
    </div>

{% endblock content %}